# Dont Copy Client Instance Files
minecraftinstance.json
.curseclient

# Ignore Directories
**/crash-logs
**/logs
**/library
**/resourcepacks
**/saves
**/journeymap
**/armourers_workshop
**/.mixin.out
**/resourcepacks
**/llibrary/debug

# Misc files to ignore
servers.dat
crafttweaker.log
options.txt
config/splash.properties
.ReAuth.cfg
usercache.json
usernamecache.json
crafttweaker.log
knownkeys.txt

**/config/splash.properties
config/InvTweaks.cfg
config/splash.properties
dark roleplay/argh/assets/drpcmmaarg/lang/en_us.lang
config/thaumicjei_itemstack_aspects.json
config/splash.properties
config/InvTweaks.cfg
config/customloadingscreen_timings.nbt
config/InvTweaks.cfg
WailaErrorOutput.txt
