
minecraftinstance.json
.curseclient
options.txt
**/logs
**/library
**/resourcepacks
**/saves
**/journeymap
servers.dat
crafttweaker.log
**/armourers_workshop
.mixin.out/audit/mixin_implementation_report.txt
config/splash.properties
.mixin.out/audit/mixin_implementation_report.csv
config/splash.properties
config/splash.properties
*.properties
.ReAuth.cfg
mods/millenaire/cultures/byzantines/buildings/military/watchtower_A.txt
*.txt
*.png
usercache.json
*.json
