
minecraftinstance.json
.curseclient
options.txt
**/logs
**/library
**/resourcepacks
**/saves
**/journeymap
servers.dat
crafttweaker.log
**/armourers_workshop
.mixin.out/audit/mixin_implementation_report.txt
config/splash.properties
.mixin.out/audit/mixin_implementation_report.csv
